*{
    margin: 0;
    padding: 0; 
} 

#container-1{
    display: flex;
    background-color: #3b4f66 ;
    justify-content: center;    
}

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-3, #container-5, footer{
    display: flex;
    flex-direction: row-reverse;
    background-color: #3b4f66;
}
 #container-4, #container-6{
    display: flex;
    flex-direction: row;    
}
img{
    width: 100%;
    height: 100%;
    width: auto;
    height: auto;
}

.right-side h1{
    margin-left: 10%;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container-2{
    width: 30%;
    display: flex;
    flex-direction: row;
}
.logosRedes{
    max-width: 50px;
    max-height: 50px;
}